@model IEnumerable<DVDRentalSystem.Models.DVDMember>

@{
    ViewBag.Title = "Index";
}

    <style>
        .bg-primary {
            background-color: dodgerblue;
        }
    </style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table  table-striped table-bordered table-hover">
    <thead class="bg-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DVDDetails.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members.FirstName)
            </th>
            <th></th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DVDDetails.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Members.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DVDMemberId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DVDMemberId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DVDMemberId })
                </td>
            </tr>
        }

</table>
