@model IEnumerable<DVDRentalSystem.Models.Loan>

@{
    ViewBag.Title = "Filter By Loan CopyNumber";
}
<style>
    .bg-primary {
        background-color: dodgerblue;
    }
</style>
<h2>FILTER LOAN BY COMPY NUMBER (Movie Lists)</h2>
<h4>Task 5 </h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table  table-striped table-bordered table-hover">
    <thead class="bg-primary">
        <tr>

            <th>
                Member Name
            </th>
            <th>
                Date of Issue
            </th>

            <th>
                Due Date
            </th>
            <th> Actual Returned Date</th>
            <th> DVD Name</th>



        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Members.FirstName)
                @Html.DisplayFor(modelItem => item.Members.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ActualReturnedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDDetails.Name)
            </td>
        </tr>
        break;
    }

</table>

<script type="text/javascript">
    var stateObj = { foo: "bar" };

    window.onload = function () {
        history.replaceState(stateObj, "page 2", "https://localhost:44381/FilterByLoanCopyNumberPost/filterByLoanCopyNumberFinal");
        return false;
    };
</script>
