@model IEnumerable<DVDRentalSystem.Models.LoanType>

@{
    ViewBag.Title = "Index";
}

<h2>Loan Types</h2>
    <style>
        .bg-primary {
            background-color: dodgerblue;
        }
    </style>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table  table-striped table-bordered table-hover">
    <tr>
        <th>
            Loan Type
        </th>
  
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanTypeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LoanTypeId }) |
                @Html.ActionLink("Details", "Details", new { id = item.LoanTypeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LoanTypeId })
            </td>
        </tr>
    }
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>

    }
</table>
