@model IEnumerable<DVDRentalSystem.Models.CastMembers>

@{
    ViewBag.Title = "FilterTitleByCount";
}

<style>
    .bg-primary {
        background-color: dodgerblue;
    }
</style>

<h2>Filter Movie Title My Actor's Last Name</h2>
<h4>Task 2</h4>




<form action="/FilterLastNameByShelves/FilterTitleByCount" method="get">
    @Html.DropDownList("LastName", new SelectList(ViewBag.LastName, "LastName", "LastName"), null, null)
    <button class="btn btn-primary" type="submit">Submit</button>
</form>




<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model != null)
{



<table class="table  table-striped table-bordered table-hover">
    <thead class="bg-primary">
        <tr>

            <th>
                DVD NAME
            </th>

            <th> DVD Cover</th>
            <th> Actor's Name</th>
 
            <th> Number of Copies</th>
         

        </tr>
        </thead>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DVDDetails.Name)
    </td>




    <td>
        <img src="@Url.Content(item.DVDDetails.CoverImagePath)" width="100" height="120" />
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.CastDetails.FirstName)
        @Html.DisplayFor(modelItem => item.CastDetails.LastName)
    </td>

 
    <td>
        @Html.DisplayFor(modelItem => item.DVDDetails.NumberOfCopies)
    </td>


</tr>
       
        }



</table>
}
