@model IEnumerable<DVDRentalSystem.Models.Loan>
    <style>
        .bg-primary {
            background-color: dodgerblue;
        }
    </style>

<h2> LOANED DVD BY DATE</h2>
<h4> Task 11</h4>
    <table class="table  table-striped table-bordered table-hover">




        @foreach (var uniq in ViewBag.UniqueDateList)
        {

            <tr>
                <td colspan="8"> <h1>@uniq.Date.ToString("MM/dd/yyyy")  </h1></td>

                @{
                    List<int> MemberIDlist = new List<int>();
                }

                @foreach (var item in Model)
                {


                    if (item.IssueDate.Date == uniq.Date)
                    {
                        MemberIDlist.Add(item.Members.MemberId);

                    }

                }

            </tr>

            int count = 0;

            foreach (var item in Model)
            {


                if (item.IssueDate.Date == uniq.Date)
                {

                    count++;

                    <tr>
                        <td>

                            <img src="@Url.Content(item.DVDDetails.CoverImagePath)" width="100" height="150" />
                        </td>
                        <td> @item.DVDDetails.Name</td>
                        <td> @item.IssueDate</td>
                        <td>Copy ID: @item.CopyId</td>
                        <td>Member: @item.Members.FirstName @item.Members.LastName</td>








                    </tr>






                }











            }

            <tr>
                <td><h3>
                    Total Loans On this day
                    </h3> </td>
                <td><h3> @count</h3></td>

            </tr>








        }

    </table>
