@model IEnumerable<DVDRentalSystem.Models.Loan>

@{
    ViewBag.Title = "ShowReturnDetails";
}

<h2>DVD RETURN SUMMARY</h2>
<h4>Task 7</h4>

<style>
    .bg-primary {
        background-color: dodgerblue;
    }
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table  table-striped table-bordered table-hover">
    <thead class="bg-primary">
        <tr>

            <th>
                DVD Title
            </th>
            <th>
                Member Name
            </th>

            <th>
                Issue Date
            </th>

            <th> Return Date</th>
            <th> Actual Return Date</th>

            <th>Standard Charge</th>

            <th>Fine Amount</th>



        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DVDDetails.Name)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Members.FirstName)
                @Html.DisplayFor(modelItem => item.Members.LastName)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualReturnedDate)




            </td>

            <td>

                @{var dvdCharge = item.LoanCharge;
                    double days = (Convert.ToDateTime(item.ReturnDate) - Convert.ToDateTime(item.IssueDate)).TotalDays;
                    var finalCharge = days * dvdCharge;

                }
                <p>@finalCharge</p>
            </td>

            <td>
                @{var fineAmount = item.FineAmount;
                    double fineDays = (Convert.ToDateTime(DateTime.Now) - Convert.ToDateTime(item.ReturnDate)).TotalDays;
                    if (fineDays > 0)
                    {

                        var finecharge = fineDays * fineAmount;
                        <p>@finecharge</p>
                    }
                    else
                    {
                        <p>0</p>
                    }
                }

            </td>

        </tr>
    }
</table>


<form action="/ReturnDVDPost/ReturnDVDFinal" method="get">
    <button class="btn btn-primary" type="submit">Return DVD</button>

</form>



