@model IEnumerable<DVDRentalSystem.Models.Loan>

@{
    ViewBag.Title = "BorrowedDVDInLastMonth";
}
<style>
    .bg-primary {
        background-color: dodgerblue;
    }
</style>

<h2>MEMBERS THAT STOPPED BORROWNING DVD IN 31 days</h2>
<h4> Task 12 </h4>

<table class="table  table-striped table-bordered table-hover">
    <thead class="bg-primary">
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                DVD Name
            </th>
            <th>
                Date of Issue
            </th>
            <th>
                Copy ID
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ActualReturnedDate)
            </th>
            <th>
                Last Loan on
            </th>
           
        </tr>
        </thead>




        @foreach (var dvdValue in ViewBag.DVDList)
        {
            double days = (Convert.ToDateTime(DateTime.Now) - Convert.ToDateTime(dvdValue.IssueDate)).TotalDays;
            int intDays = (int)Math.Round(days);
            if (days > 31.00)
            {

                foreach (var memberValue in ViewBag.MemberList)
                {
                    if (dvdValue.MemberId == memberValue.MemberId)
                    {

                        foreach (var detailsDVD in ViewBag.DVDDetailsList)
                        {
                            if (detailsDVD.DVDDetailsId == dvdValue.DVDDetailsId)
                            {

                                <tr>
                                    <td>
                                        @memberValue.FirstName
                                        @memberValue.LastName

                                    </td>
                                    <td>
                                        @memberValue.Address
                                    </td>
                                    <td>
                                        @detailsDVD.Name

                                    </td>
                                    <td>
                                        @dvdValue.IssueDate
                                    </td>
                                    <td>
                                        @dvdValue.CopyId
                                    </td>
                                    <td>
                                        @dvdValue.ActualReturnedDate
                                    </td>




                                    <td>
                                        @intDays Days Ago

                                    </td>

                                   

                                </tr>
                            }

                        }
                    }
                }
            }
        }

</table>
