@model IEnumerable<DVDRentalSystem.Models.Loan>

@{
    ViewBag.Title = "BorrowedDVDInLastMonth";
}

<h2>Members that stopped borrowing in last 31 days</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            DVD Name
        </th>
        <th>
            Date of Issue
        </th>
        <th>
            Copy ID
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ActualReturnedDate)
        </th>
        <th>
            Last Loan on
        </th>
        <th></th>
    </tr>


 

    @foreach (var dvdValue in ViewBag.DVDList)
    {
        double days = (Convert.ToDateTime(DateTime.Now) - Convert.ToDateTime(dvdValue.IssueDate)).TotalDays;
        int intDays = (int)Math.Round(days);
        if (days > 31.00)
        {

            foreach (var memberValue in ViewBag.MemberList)
            {
                if (dvdValue.MemberId == memberValue.MemberId)
                {

                    foreach (var detailsDVD in ViewBag.DVDDetailsList)
                    {
                        if (detailsDVD.DVDDetailsId == dvdValue.DVDDetailsId)
                        {
                           
                    <tr>
                        <td>
                            @memberValue.FirstName
                            @memberValue.LastName

                        </td>
                        <td>
                            @memberValue.Address
                        </td>
                        <td>   
                            @detailsDVD.Name

                        </td>
                        <td>
                            @dvdValue.IssueDate
                        </td>
                        <td>
                            @dvdValue.CopyId
                        </td>
                        <td>
                            @dvdValue.ActualReturnedDate
                        </td>




                        <td>
                            @intDays Days Ago

                        </td>

                        <td>
                        </td>

                    </tr>
                        }
                        
                    }
                }
            }
        }
    }

</table>
