@model IEnumerable<DVDRentalSystem.Models.Loan>

@{
    ViewBag.Title = "Index";
}
<style>
    .bg-primary {
        background-color: dodgerblue;
    }
</style>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("asdasdasdasd");
        };
    </script>

}

<h2>Loan Services</h2>
<h6>Task 6</h6>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table  table-striped table-bordered table-hover">
    <thead class="bg-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DVDDetails.Name)
            </th>
            <th>
                Loan Type
            </th>
            <th>
                Member ID
            </th>
            <th>
                Member Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FineAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CopyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualReturnedDate)
            </th>
            <th>
                Loan total charge
            </th>

        </tr>
        </thead>

        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DVDDetails.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LoanType.LoanTypeName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Members.MemberId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Members.FirstName)
        @Html.DisplayFor(modelItem => item.Members.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IssueDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReturnDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LoanCharge)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FineAmount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CopyId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ActualReturnedDate)
    </td>
    <td>
        @{var dvdCharge = item.LoanCharge;

            double days = (Convert.ToDateTime(item.ReturnDate) - Convert.ToDateTime(item.IssueDate)).TotalDays;
            var finalCharge = days * dvdCharge;
        }
        <p>@finalCharge</p>
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.LoanId }) |
        @Html.ActionLink("Details", "Details", new { id = item.LoanId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.LoanId })
    </td>
</tr>
        }


</table>
