@model IEnumerable<DVDRentalSystem.Models.CastMembers>

@{
    ViewBag.Title = "FilterTitleByLastName";
}
<style>
    .bg-primary {
        background-color: dodgerblue;
    }
</style>

<h2>FILTER TITLE BY ACTOR'S LAST NAME</h2>
<h3>Task 1</h3>
<form action="/Report/FilterTitleByLastName" method="get">
    @Html.DropDownList("LastName", new SelectList(ViewBag.LastName, "LastName", "LastName"), null, null)
    <button class="btn btn-primary" type="submit">Submit</button>
</form>


@if (Model != null)
{

    <table class="table  table-striped table-bordered table-hover">
        <thead class="bg-primary">
        <tr>
            
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>

            <th>
                DVD Title
            </th>
            <th> DVD Cover</th>
         
        </tr>
</thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CastDetails.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CastDetails.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DVDDetails.Name)
                </td>

                <td>
                    <img src="@Url.Content(item.DVDDetails.CoverImagePath)" width="100px" height="100px" />
                </td>


            </tr>
        }


    </table>
}






